absl-py==2.3.1
albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
asttokens==3.0.1
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.2.1
decorator==5.2.1
easydict==1.13
exceptiongroup==1.3.1
executing==2.2.1
filelock==3.20.0
flatbuffers==25.9.23
fonttools==4.61.0
fsspec==2025.10.0
gitdb==4.0.12
GitPython==3.1.45
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
insightface==0.7.3
ipython==8.37.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
lazy_loader==0.4
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
ml_dtypes==0.5.4
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
onnx==1.19.1
onnx-ir==0.1.12
onnxruntime-gpu==1.23.2
onnxscript==0.5.6
opencv-python==4.12.0.88
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
packaging==25.0
pandas==2.3.3
parso==0.8.5
pillow==12.0.0
polars==1.35.2
polars-runtime-32==1.35.2
prettytable==3.17.0
prompt_toolkit==3.0.52
protobuf==4.25.8
psutil==7.1.3
pure_eval==0.2.3
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
PyQt6==6.10.1
PyQt6-Qt6==6.10.1
PyQt6_sip==13.10.3
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
sentencepiece==0.2.1
simsimd==6.5.3
six==1.17.0
smmap==5.0.2
stack-data==0.6.3
stringzilla==4.4.0
sympy==1.14.0
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.5.10
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.233
ultralytics-thop==2.0.18
urllib3==2.5.0
utils==1.0.2
wcwidth==0.2.14
faiss-cpu==1.13.2  # faiss-gpu không có trên Windows, dùng CPU
